@import "bootstrap/dist/css/bootstrap.min.css";

.col {
  flex-basis: 14.2857%; /* 100% / 7日 */
  max-width: 14.2857%;
}
.col_d {
  min-height: 80px;
}
.yearAndMonth {
  background-color: #fff;
  color: #000;
}
.calendar-container {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  margin-top: 2rem;
}
.month-selector-dropdown {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  z-index: 10;
}
.cute-submit-btn {
  background-color: var(--cute-orange);
  color: white;
  justify-content: center;
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cute-submit-btn:hover {
  background-color: var(--cute-orange-dark);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-table ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.details-table li {
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  color: #555;
  font-size: 0.95rem;
}

.details-table li:last-child {
  border-bottom: none; /* 最後の項目は区切り線を消す */
}
