.attention {
  font-size: small;
  color: #b0b0b0;
  margin: 10px 0;
}
.attention ul {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.input_area {
  margin: auto;
  width: 300px;
}

.box {
  margin-top: 10px;
  border-radius: 0.5rem;
  height: 40px;
  width: 300px;
  border: 1px var(--black-color) solid;
  padding-left: 25px;
  padding-right: 25px;
}
.box:focus {
  background-color: #c5ddff;
  border: 2px #00679d solid;
}
label {
  margin-top: 10px;
  font-size: 20px;
}
.login_buttons {
  text-align: right;
  margin-bottom: 400px;
  margin-top: 50px;
}
textarea {
  margin-top: 10px;
  border-radius: 0.5rem;
  height: 90px;
  width: 300px;
  border: 1px var(--black-color) solid;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
}
textarea:focus {
  background-color: #c5ddff;
  border: 2px #00679d solid;
}
.CharCounter {
  margin: 0px 10px 10px 230px;
}
.submit_buttons {
  text-align: right;
  margin: 20px 0 20px 0;
}
.userid_area {
  position: relative;
}

.userid_area::before {
  content: "@";
  position: absolute;
  text-align: left;
  top: 18px;
  left: 10px;
}
.selectbox-1 {
  position: relative;
  margin: auto;
}

.selectbox-1::before,
.selectbox-1::after {
  position: absolute;
  content: "";
  pointer-events: none;
}

.selectbox-1::before {
  display: inline-block;
  right: 0;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0 3px 3px 0;
  background-color: #26669b;
}

.selectbox-1::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.selectbox-1 select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em 3.6em 0.4em 0.8em;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
  font-size: 1em;
  cursor: pointer;
  outline: 1px solid var(--black-color);
}

.selectbox-1 select:focus {
  outline: 2px solid #26669b;
  background-color: #c5ddff;
}

.lang_area {
  margin-bottom: 30px;
}

#error__text {
  color: var(--accentcolor);
}
