.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.speech-bubble {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid orange; /*縁取りがオレンジ*/
  padding: 10px 15px;
  position: relative;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; /* これで幅を制限 */
  display: inline-block;
  white-space: normal; /* ←折り返しを許可 */
  word-wrap: break-word; /* ←長い単語も折り返す */
  text-align: center;
  overflow-y: auto;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: orange transparent transparent transparent;
  }
}

.status-bar {
  color: #333;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

/* ページ全体の背景 */
body {
  background-image: url("/background.png"); /* public/background.png */
  background-size: cover; /* 画面いっぱいに拡大・縮小 */
  background-position: center; /* 中央寄せ */
  background-repeat: no-repeat; /* 繰り返さない */
  background-attachment: fixed; /* スクロールしても固定（お好み） */
}
